/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


/* Custom Properties */
:root{
    /*========
      Colors
    ==========*/
    /* Primary */

    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */

    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

/* General Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
    color: var(--soft-blue);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

h1 {
    color: var(--white);
    font-weight: 600;
    margin: 25px 0;
}

a{
    color: var(--white);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card Style */

.card {
    background-color: var(--card-bg);
    max-width: 350px;
    padding: 1.25rem;
    line-height: 24px;
    top: 50%;
    bottom: 50%;
}

.card-img {
    position: relative;
}

.card, .card-img > img, .hover-img-box {
    border-radius: 20px;
}

.hover-img-box {
    cursor: pointer;
    position: absolute;
    height: 309px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 1s ease;
    background-color: hsla(178, 100%, 50%, 0.411);
}

.card-img:hover .hover-img-box{
    opacity: 1;
}

.hover-img {
    content: url(images/icon-view.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card ul {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
}

.card ul li:first-child{
    color: var(--cyan);
    font-weight: 400;
}

.card ul li:first-child::before{
    content: url(images/icon-ethereum.svg);
    margin-right: 7px;
    vertical-align: -9%;
}

.card ul li:last-child::before{
    content: url(images/icon-clock.svg);
    margin-right: 7px;
    vertical-align: -9%;
}

hr {
    border: 1px solid var(--line);
    margin: 30px 0;
}

.avater{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    margin-bottom: 20px;
}

.avater img{
    width: 32px;
    height: 32px;
    border: 1px solid var(--white);
    border-radius: 15px;
}

.creator{
    color: var(--white);
}

h1:hover, .creator:hover{
    color: var(--cyan);
    cursor: pointer;
}
